body {
    background-color: #000;
    color: #fff;
    
}


header{
       padding: 1vh 2vw;
     display: flex;
    justify-content: space-between;
    background-color: #000;
     text-align: center;
    /*border: #008000 1px solid;
    border-radius:30px;*/
    /* margin-bottom: 50px; */
}




/*#banner1 {
    width="1400" ;
    height="400";
}*/






a:link {
    background-color:#000000;
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 2px;
    text-decoration:wavy;
   
}
a:hover {
    background-color:#000;
    color: #fff;
    font-size: 14px;
    margin-bottom: 2px;
    text-decoration:underline;
   
}
a:visited {
    background-color:#000000;
    color: #d1d1d1;
    font-size: 14px;
    margin-bottom: 2px;
    text-decoration:underline;
   
}
#baner1 {
    width: auto;
    height: auto;
    
}
video {
  width:50%;
    height: auto;
    border: #ffffff 3px solid;
}


img {
    width:50%;
    height: auto;
    border: #ffffff 3px solid;
}
.nav-buttons {
    font-size: 20px;
  display: inline-block;
  padding: 14px 28px;
  background-color: #000000;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #000000;
  min-width: 200px;
}
.nav-buttons:hover {
  background-color: #000000;
}

.name {
  text-align: left;


}
nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2vh;
    align-content: right;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;

}
.hero { position: relative; overflow: hidden; min-height: 60vh; display:flex; align-items:center; }
.video-bg {
  position: absolute;
  top: 50%; left: 50%;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}
.hero-content { position: relative; z-index: 1; color: #fff; padding: 1rem; }
/* mobile: hide video and use poster image */
@media (max-width: 767px) {
  .video-bg { display: none; }
  .hero { background: url('poster.jpg') center/cover no-repeat; }
}
/* optional dimmer for readability */
.hero::before {
  content: ""; position: absolute; inset: 0;
  background: rgba(0,0,0,0.35); z-index: 0;
}